
body {
  font: 100%/1.125em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
  color:#666;
  margin:0;
}

* {
  margin:0;
  padding:0;
}

h1 {
  font-family:"Times New Roman", Times, serif;
  font-size:2.9em;
  font-weight:normal;
  color:#333;
  letter-spacing:-1px;
  margin:20px 0;
}

h1 a {
  text-decoration:none;
  color:#333;
}

#footer {
  clear:both;
  padding:20px;
  text-align:right;
  margin:0;
  color:#999;
}

#header {
  border-top:20px solid #BCE77C;
}

#header .description {
  float:right;
  margin:45px 0 0 0;
  color:#222;
}

#header h1 {
  margin:15px 0 0 0;
  padding:22px 25px 20px 72px;
  border-bottom:20px solid #fafafa;
  background-image: url(/images/seedling-64.png);
  background-repeat: no-repeat;
}



#wrapper {
  width:760px;
  margin:0 auto;
  
}

#nav {
  border-bottom:1px solid #eee;
  padding:7px 0px;
  margin:0;
  border-top:1px solid #eee;
  margin-bottom: 7px;
  height:36px;
  font-size:0.75em;
}

#nav li {
  float:left;
  list-style:none;
}

#nav li a {
  color:#999;
  padding:5px 5px 7px 5px;
  background:#fff;
  font:1.6em Trebuchet MS;
  margin:1px 2px 0 0;
  font-weight:bold;
  text-decoration:none;
  display:block;
}
#nav li a:hover {
  background-color:#eee;
  color:#333;
  text-decoration:none;
}

#nav li a.active {
  background-color:#eee;
  color:#444;
  text-decoration:none;
}

.clear {
  clear:both;
}


#content {
  margin:0 0 0 0 !important;
  padding:0px 25px 40px 0;
  font-size:0.875em;
}



#content p {
  line-height:25px;
  margin:18px 0;
  word-spacing:2px;
}

#content a {
  text-decoration:none;
  color:#33C;
}

#content a:hover {
  color:#000;
}

#content h2 {
  font-family:"Times New Roman", Times, serif;
  font-size:2em;
  font-weight:normal;
  margin:15px 0;
  padding:5px 0;
}

#content h2 a {
  color:#444;
  text-decoration:none;
  border:none;
}

#sidebar {
  width:250px;
  float:right;
  padding:10px 10px 30px 10px;
  font-size:0.875em;
}

#sidebar h2 {
  letter-spacing:2px;
  font-size:1.2em;
  color:#333;
  padding:0 0 3px 0;
}

#sidebar ul {
  list-style:none;
  margin:0 0 20px 0;
}

#sidebar li {
  padding:3px;
}



#sidebar li a, #sidebar p.news a {
  color:#333;
  text-decoration:none;
}

#sidebar input {
  width:240px;
  padding:5px;
  background:#fdfdfd;
  color:#444;
  border:1px solid #f6f6f6;
  font:11px Verdana;
}

#sidebar input:focus {
  background:#fff;
  border:1px solid #eee;
}

#sidebar li a:hover {
  color:#000;
}

p.news {
  padding:10px;
  background:#D7F0B2;
  margin:10px 0;
  color:#537B17;
}

#sidebar p.news a {
  color:#537B17;
  text-decoration:none;
}

blockquote {
  padding:5px 15px;
  background:#f6f6f6;
  margin:10px 0;
  border:1px solid #eee;
}

#content ul, ol {
  margin:10px 10px 10px 25px;
}
#content li {
  line-height:25px;
}

img {
  padding:0px;
  border-width:0px;

}



#content h3 {
  margin:10px 0;
  font:160% Trebuchet MS;
  color:#222;
}

a.more {
  display:block;
  text-align:right;
  color:#2F460D;
  text-decoration:none;
  margin:10px 0 0 0 ;
}
a.more:hover {
  text-decoration:underline;
}
